
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4"><u>Contact us by phone or mail!</u></h1>
        <table class="d-md-table jumbotron">
            <tr class="d-md-table-row text-left">
                <td>
                    <h4>Phone: 123-123-1234</h4>
                </td>
            </tr>
            <tr class="d-md-table-row text-left">
                <td>
                    <h4>Email: InlandMarina@marina.ca</h4>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="d-flex justify-content-center">
                <a class="nav-link text-dark btn-primary" style="border-radius: 10%" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
            </div>
        </div>
    </div>
    
</div>